<div class="adminhtml-fraudprobability">
  <a href="<?php echo $this->getInfoUrl() ?>" title="">
    <img src="<?php echo $this->getSkinUrl('images/viabillquickpay/' . $this->getImage() . '.png') ?>">
  </a>
</div>