    
<style>
    
    .vb-payment-text {

    }
    .default{
        float:left;
        margin-left: 5px;
    }
    .defaultclass {
        margin-left: 65px;margin-top: -21px;
    }
    .defaulticon {
        float:left; padding-left: 202px; margin-top:-30px;
    }
    .cleardefault{
         margin-left: 18px; margin-top:-27px
    }
    .cleardefaulticon {
        float:left; padding-left: 221px; margin-top:-35px;
    }
    .noiconclass{

         margin-left: 19px;
         margin-top: -17px;
    }
</style>

<?php

$version = Mage::getVersionInfo(); 
//print_r($version);
$versioninfo = $version['major'].".".$version['minor'];
//echo $versioninfo;
if($versioninfo>1.7){
    $class = 'default';
    $iconclass = '';
}
else{
    $class = 'defaultclass';
    $iconclass = 'noiconclass';
}

$payment = Mage::getModel('viabillquickpay/payment');
$title = Mage::getStoreConfig('payment/viabillquickpay_payment/title');
$grandTotal = $this->helper('checkout/cart')->getQuote()->getGrandTotal();
$pricetagsrc = Mage::getStoreConfig('payment/viabillquickpay_payment/vbpricetagsrc');
?>

<fieldset class="form-list">
  <?php $_code = $this->getMethodCode() ?>
  <ul id="payment_form_<?php echo $_code ?>" style="display:none">
    <li>

      <script type="text/javascript" >
                var grandTotal = "<?php echo $this->helper('checkout/cart')->getQuote()->getGrandTotal(); ?>";
                var label = $('p_method_viabillquickpay_payment').up('dt').down('label');

                var showIcon = "<?php  echo $this->isShowIcon(); ?>";
                var imgUrl = "<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "viabillquickpay/viabill.png" ?>"
                
                  if(showIcon=='1'){

                          label.innerHTML = '<img style="width:40px" alt="viabillquickpay" src="'+imgUrl+'"/><div id="defaulttext" class="<?php echo $class;?>"  > <div class="viabill-pricetag" view="payment" style="display:inline-flex;" price="' + grandTotal + '" >'+ label.innerHTML+'</div> </div>';

                        // label.innerHTML += '';
                        }
                        else{
                            label.innerHTML = '<div id="defaulttext" class="<?php echo $iconclass;?>" ><div class="viabill-pricetag" view="payment" style="display:inline-flex;" price="' + grandTotal + '" >'+ label.innerHTML+'</div></div>';

                        }



              
            </script>

       <!--  <div style="float:left;"> <img alt="viabillquickpay" src="<?php //echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'viabillquickpay/viabill.png' ?>"/></div> -->
      <div style="float: left; margin-left: 10px; padding-top: 4px; width: 455px;">

          <?php echo Mage::helper('viabillquickpay')->__("Du kan læse mere om ViaBill".'<a href="http://www.viabill.com/terms" target="_blank" title="Gå til ViaBill\'s betingelser"> her </a><br />'); ?>
       </div> 
      
    </li>
  </ul>
</fieldset>
<?php  if( !empty($pricetagsrc) ) { /*to confirm if load price tag script*/ ?>
<script type="text/javascript">
      <?php echo  $pricetagsrc; ?>
   var pricevb =  "<?php echo $this->helper('checkout/cart')->getQuote()->getGrandTotal(); ?>";
   
     setTimeout(function(){
                         if(vb.isLow(pricevb) || vb.isHigh(pricevb)){

                         }
                         else{
                            jQuery("#defaulttext").html("<?php echo $title;?>") ;
                            }
                         
                         }, 500);


</script>
<?php } ?>


 
