<?php

$payment = Mage::getModel('viabillquickpay/standard');

$order = Mage::getModel('sales/order');
$order->loadByIncrementId($payment->getCheckout()->getLastRealOrderId());


// CACHE BLOCK HTML OUTPUT DISABLE HACK --> START
$success = explode("?", Mage::getUrl('viabillquickpay/standard/success')); // Removes wierd cache url attachment ?SID_U
$redirect = explode("?", Mage::getUrl('viabillquickpay/standard/cancel')); // Removes wierd cache url attachment ?SID_U
$callback = explode("?", Mage::getUrl('viabillquickpay/standard/callback')); // Removes wierd cache url attachment ?SID_U
// CACHE BLOCK HTML OUTPUT DISABLE HACK --> END


//3D secure kort.
$secure3DCards = array(
  'creditcard',
  'jcb',
  'maestro',
  'maestro-dk',
  'mastercard',
  'mastercard-dk',
  'mastercard-debet-dk',
  'visa',
  'visa-dk',
  'visa-electron',
  'visa-electron-dk',
);
$use3dSecure = ($payment->getConfigData('use3dsecure') == 1) ? true : false;

$cardlocktype = "";

if ($payment->getConfigData('cardtype') == 'specific-cards') {
  $specificcards = explode(",", $payment->getConfigData('specifikcardtypes'));
  foreach ($specificcards as $card) {
    if ($use3dSecure && in_array($card, $secure3DCards)) {
      $cardlocktype .= "3d-" . $card;
    } else {
      $cardlocktype .= $card;
    }
    $cardlocktype .= ",";
  }
} elseif ($payment->getConfigData('cardtype') == 'creditcard') {
  if ($use3dSecure) {
    $cardlocktype .= "3d-creditcard";
  } else {
    $cardlocktype .= 'creditcard';
  }
}
$cardlocktype = rtrim($cardlocktype, ",");

$md5string = 4 .
  'authorize' .
  $payment->getConfigData("merchantnumber") .
  $payment->calcLanguage(Mage::app()->getLocale()->getLocaleCode()) .
  $payment->getCheckout()->getLastRealOrderId() .
  ($order->getTotalDue() * 100) .
  $order->getOrderCurrency()->ToString() .
  $success[0] .
  $redirect[0] .
  $callback[0] .
  $payment->getConfigData('instantcapture') .
  $cardlocktype .
  $payment->getConfigData("md5secret");


?>

  <form id="viabillquickpay" action="<?php echo $payment->getConfigData('post_url'); ?>" method="post">


    <input type="hidden" name="merchant" value="<?php echo $payment->getConfigData("merchantnumber") ?>">
    <input type="hidden" name="continueurl" value="<?php echo Mage::getUrl('viabillquickpay/payment/success') ?>">
    <input type="hidden" name="cancelurl" value="<?php echo Mage::getUrl('viabillquickpay/payment/cancel') ?>">
    <input type="hidden" name="callbackurl" value="<?php echo Mage::getUrl('viabillquickpay/payment/callback') ?>">
    <input type="hidden" name="ordernumber" value="<?php echo $payment->getCheckout()->getLastRealOrderId() ?>">
    <input type="hidden" name="autocapture" value="<?php echo $payment->getConfigData('instantcapture') ?>">
    <input type="hidden" name="cardtypelock" value="<?php echo $cardlocktype; ?>">
    <input type="hidden" name="msgtype" value="authorize">
    <input type="hidden" name="protocol" value="4">
    <input type="hidden" name="amount" value="<?php echo $order->getTotalDue() * 100 ?>">
    <input type="hidden" name="md5check" value="<?php echo md5($md5string) ?>">
    <input type="hidden" name="currency" value="<?php echo $order->getOrderCurrency()->ToString() ?>">
    <input type="hidden" name="language" value="<?php echo $payment->calcLanguage(Mage::app()->getLocale()->getLocaleCode()) ?>">

  </form>

  <script type="text/JavaScript">
    document.getElementById('viabillquickpay').submit();
  </script>

<?php exit(); ?>