<p id="qp_finalize">
    <label for="qp_finalize_check"><?php echo $this->__('Finalize transaction'); ?></label>
    <input id="qp_finalize_check" type="checkbox" name="qp_finalize" value="1" />
</p>
<script type="text/javascript">
    (function($) {
        'use strict';

        var qp_finalize = $('#qp_finalize');

        // needed to refer to the element later - Will stay in memory event if the containing DOM is removed
        window.qp_finalize = qp_finalize;

        function insert_qp_finalize() {
            var capture_case = $('select[name="invoice[capture_case]"]').parent('p');
            window.qp_finalize.insertAfter(capture_case);
        }

        window.insert_qp_finalize = insert_qp_finalize();

        // insert on page load
        insert_qp_finalize();

        // listen for ajax to complete, then re-implement the finalize element
        Ajax.Responders.register({
            'onComplete': function(request, response) {
                var update_qty_url = '<?php echo $this->getUrl('*/*/updateQty'); ?>';
                if(request.url.indexOf(update_qty_url) == 0) {
                    insert_qp_finalize();
                }
            }
        });

    })(jQuery);
</script>
